*{
   margin: 0;
   padding: 0;
}
header{
    background: #000;
    color: white;
}
.logo h1{
font-family: monospace;
    padding: 10px;
    color: yellow;
background-color: black;
font-size: 2.5rem;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
}
.list, ul, li{
    display: flex;
    gap: 30px;
}
.list, ul, li, a{
text-decoration: none;
color: white;
}
.list, ul :hover{
color: yellow;
}
.icon{
    color: white;
    font-size: 1.2rem;
    display: none;
}
.list{
    font-size: x-large;
}
    .child1 img{
    height: 410px;
    width: 310px;
    padding-left: 210px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
}
    @media (max-width: 600px) {
    .list{
        display: none;
    }
    .icon{
        display: block;
        color: yellow;
        font-size: 2rem;
    }
}
.child2{
    padding-right: 200px;
}

.copyright {
    text-align: center;
    background: #060605;
    color: #f8f2f2;
    padding: 10px;
    font-size: 14px;
}